In [1]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [2]:
# Connect to an existing database
# Creates a new database session and returns a new connection instance.
conn = psycopg2.connect(
    host = "db",
    dbname = "postgres",
    user = "postgres",
    password = "example",
    port = 5432
)

#dbname – the database name (database is a deprecated alias)
#user – user name used to authenticate
#password – password used to authenticate
#host – database host address (defaults to UNIX socket if not provided)
#port – connection port number

In [19]:
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [20]:
cur = conn.cursor()

In [37]:
cur.execute("CREATE TABLE IF NOT EXISTS python_table (id int primary key, name text, description text, updated timestamp default current_timestamp);")

In [31]:
conn.commit()

In [ ]:
 cur.execute(
    "INSERT INTO python_table (id, name, description) VALUES (%s, %s,%s)",
(1, "test","testar bara")
)

In [39]:
 cur.execute(
    "INSERT INTO python_table (id, name, description) VALUES (%s, %s,%s)",
(2, "testat","testar barae")
)

In [54]:
mycursor = conn.cursor()

cur.execute(
    sql = "INSERT INTO python_table (id, name, desctiption) VALUES (%s, %s, %s)",
    values = (3,"John", "Highway") 
    mycursor.execute(sql, values)

conn.commit()

SyntaxError: invalid syntax (<ipython-input-54-f03b49e49a76>, line 6)